<!-- https://www.ipay.ua/ua/bills/charge-mobile -->
<!DOCTYPE html> 
<html lang="uk-UA">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поповнення мобільного</title>
		<style>
			.phoneNumber {
				margin-right: 7px;
			}
			input::-webkit-outer-spin-button,
			input::-webkit-inner-spin-button {
  			-webkit-appearance: none;
  			margin: 0;
			}
			.content {
				display: flex;
				justify-content: center;
			}
			.form {
				margin-top: 40px;
				display: inline-block;
			}
			.inputField {
				border-style: solid;
				display: inline-block;
				border-width: 3px;
				border-color: #DEE7F3;
				border-radius: 8px;
				height: 50px;
				font: 40px;
				padding: 3px;
				padding-bottom: 5px;
			}
			#sumInput {
				width: 150px;
			}
			input {
				border-style: none;
				height: 100%;
				font-size: 20px;
				border-color: blue;
			}
			input:focus {
				outline: none;
			}
			
			input::placeholder {
				font-size: 20px;
			}

			h3 {
				padding: 0;
				margin: 0;
				margin-bottom: 10px;
				font-size: 25px;
			}
			#TopUpButton {
				margin-top: 8px;
				height: 40px;
				width: 100%;
			}
			#TopUpButton:enabled {
				background-color: #09BC8A;
				border: none;
				border-radius: 8px;
				font-size: 20px;
				cursor: pointer;
				color: white;
			}
			#TopUpButton:disabled {
				background-color: #DEE7F3;
				border: none;
				border-radius: 8px;
				font-size: 20px;
				cursor: pointer;
			}
		</style>
		<script>
			const InputHandler = function(e) {
				const phoneNumberInput = document.getElementById("phoneNumberInput");
				const sumInput = document.getElementById("sumInput");

				if (phoneNumberInput.value.match(/\+380[0-9]{9}/) && sumInput.value.match(/^(?=.+)(?:[1-9]\d*|0)?(?:\.\d+)?$/) && sumInput.value < 10000 && sumInput.value > 0) {
					document.getElementById("TopUpButton").disabled = false;
				}
				else {
					document.getElementById("TopUpButton").disabled = true;
				}
			} 
		</script>
</head>
<body>
	<div class="content">
		<div class="form">
			<h3>Поповнення мобільного</h3>
			<form action="ChargeResult" method="post" autocomplete="off">
				<div>
					<div class="phoneNumber inputField">
						<input id="phoneNumberInput" type="text" oninput="InputHandler()" name="phoneNumber" placeholder="Номер телефону" pattern="\+380[0-9]{9}" maxlength="13" required>
					</div>
					<div class="sum inputField">
						<input id="sumInput" type="number" maxlength="7" name="sum" placeholder="Сума" oninput="InputHandler()" onKeyPress="if(this.value.length==7) return false;" required>
					</div>
				</div>
				<div>
					<button id="TopUpButton" type="submit" disabled="disabled">Поповнити</button>
				</div>
			</form>
		</div>
	</div>
</body>
</html>