@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model ChargeResultViewModel;
}

<!DOCTYPE html> 
<html lang="uk-UA">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поповнення мобільного</title>
    <style>
        .content {

        }
        img {
            height: 75px;
            width: 75px;
        }
        .result {
            position: absolute;
            top: 50%;
            left: 50%;
            -ms-transform: translateX(-50%) translateY(-50%);
            -webkit-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
        }
        .icon-wrapper {
            display: flex;
			justify-content: center;
        }
        .icon {
            height: 75px;
            width: 75px;
            margin-bottom: 15px;
        }
        .main-message {
            display: flex;
			justify-content: center;
            margin-bottom: 15px;
        }
        .details {
            display: flex;
			justify-content: center;
            margin-bottom: 15px;
        }
        .buttonsContainer {
            display: flex;
			justify-content: center;
        }
        h1 {
            font-size: 50px;
            margin: 0;
        }
        h4 {
            margin: 0;
            font-size: 25px;
        }
        button {
            border-radius: 20px;
            font-size: 25px;
            width: 300px;
            height: 45px;
            border-style: solid;
            background-color: white;
            border-color: #A9AFB3;
        }
        button:hover {
            cursor: pointer;
            border-color: #169DDD;
            border-style: solid;
        }
        .main-menu-button {
            margin-right: 20px;
        }
    </style>
    <script>
        
    </script>
</head>
<body>
    <div class="content">
        <div class="result">
            <div class="icon-wrapper">
                <div class="icon">
                    @if (@Model.Success)
                    {
                        <img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Eo_circle_green_checkmark.svg">
                    }
                    else
                    {
                        <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/67/Blokkade.png/599px-Blokkade.png">
                    }
                </div>
            </div>
            <div class="main-message">
                @if (@Model.Success)
                {
                    <h1>Поповнення пройшло успішно</h1>
                }
                else
                {
                    <h1>Помилка поповнення</h1>
                }
            
            </div>
            <div class="details">
                <h4>@Model.Details</h4>
            </div>
            <div class="buttonsContainer">
                <button class="main-menu-button" onclick="location.href= window.location.origin">Головне меню</button>
                <button onclick="location.href= window.location.origin + '/MobilePhone/Charge'">Ще одне поповнення</button>
            </div>
        </div>
    </div>
</body>
</html>